.whole {
  display: flex;
}
.left {
  flex: 0.33;
}
.right {
  flex: 0.33;
}
.tablecontainer {
  flex: 0.33;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  min-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(#303030, 0.1), 0 4px 4px 0 rgba(#303030, 0.1);
}
